MC.ServiceProxy/Service References/MC_SalidaService/MC_SalidaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:85/MC_Block_Pass/MC_SalidaService.svc?xsd=xsd2" namespace="http://www.MillensCorp.com/types/" />
  <xs:element name="getPartesModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q1:getPartesModulo_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartesModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.MillensCorp.com/types/" minOccurs="0" name="getPartesModuloResult" nillable="true" type="q2:getPartesModulo_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRegistrarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q3:setRegistrarTransaccion_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRegistrarTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.MillensCorp.com/types/" minOccurs="0" name="setRegistrarTransaccionResult" nillable="true" type="q4:setRegistrarTransaccion_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRegistrarAlarma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q5:setRegistrarAlarma_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRegistrarAlarmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.MillensCorp.com/types/" minOccurs="0" name="setRegistrarAlarmaResult" nillable="true" type="q6:setRegistrarAlarma_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInformacionModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q7:getInformacionModulo_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInformacionModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.MillensCorp.com/types/" minOccurs="0" name="getInformacionModuloResult" nillable="true" type="q8:getInformacionModulo_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParametros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q9:getParametros_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParametrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.MillensCorp.com/types/" minOccurs="0" name="getParametrosResult" nillable="true" type="q10:getParametros_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoAutorizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q11:getInfoAutorizado_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoAutorizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.MillensCorp.com/types/" minOccurs="0" name="getInfoAutorizadoResult" nillable="true" type="q12:getInfoAutorizado_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSolucionarAlarmas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q13:setSolucionarAlarmas_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSolucionarAlarmasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://www.MillensCorp.com/types/" minOccurs="0" name="setSolucionarAlarmasResult" nillable="true" type="q14:setSolucionarAlarmas_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTarjetas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q15:getTarjetas_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTarjetasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://www.MillensCorp.com/types/" minOccurs="0" name="getTarjetasResult" nillable="true" type="q16:getTarjetas_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q17:getInfoEvento_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInfoEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://www.MillensCorp.com/types/" minOccurs="0" name="getInfoEventoResult" nillable="true" type="q18:getInfoEvento_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventosDispositivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q19:getEventosDispositivo_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventosDispositivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://www.MillensCorp.com/types/" minOccurs="0" name="getEventosDispositivoResult" nillable="true" type="q20:getEventosDispositivo_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActualizarEventoDispositivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q21:getEventosDispositivo_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActualizarEventoDispositivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://www.MillensCorp.com/types/" minOccurs="0" name="SetActualizarEventoDispositivoResult" nillable="true" type="q22:getEventosDispositivo_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getValidarSalidaAutorizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q23:getValidarSalidaAutorizado_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getValidarSalidaAutorizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://www.MillensCorp.com/types/" minOccurs="0" name="getValidarSalidaAutorizadoResult" nillable="true" type="q24:getValidarSalidaAutorizado_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>