MC.ServiceProxy/Service References/MC_EnvioImagenesService/MC_EnvioImagenesService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.MillensCorp.com/types/" elementFormDefault="qualified" targetNamespace="http://www.MillensCorp.com/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:84/MC_Block_Pass/MC_EnvioImagenesService.svc?xsd=xsd5" namespace="http://www.mc.com.co/types/" />
  <xs:import schemaLocation="http://localhost:84/MC_Block_Pass/MC_EnvioImagenesService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="setAlmacenaImagenesServidor_Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.mc.com.co/types/" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="oImagenes" nillable="true" type="tns:ArrayOfServiceImagen" />
          <xs:element minOccurs="0" name="oTransaccion" nillable="true" type="tns:ServiceTransaccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="setAlmacenaImagenesServidor_Request" nillable="true" type="tns:setAlmacenaImagenesServidor_Request" />
  <xs:complexType name="ArrayOfServiceImagen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceImagen" nillable="true" type="tns:ServiceImagen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceImagen" nillable="true" type="tns:ArrayOfServiceImagen" />
  <xs:complexType name="ServiceImagen">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ContenidoImagen" nillable="true" type="q2:Stream" />
      <xs:element minOccurs="0" name="NombreImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceImagen" nillable="true" type="tns:ServiceImagen" />
  <xs:complexType name="ServiceTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrilEntrada" type="xs:int" />
      <xs:element minOccurs="0" name="CarrilSalida" type="xs:int" />
      <xs:element minOccurs="0" name="IdAutorizado" type="xs:long" />
      <xs:element minOccurs="0" name="IdEstacionamiento" type="xs:long" />
      <xs:element minOccurs="0" name="IdTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccion" type="xs:long" />
      <xs:element minOccurs="0" name="ModuloEntrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuloSalida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlacaEntrada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlacaSalida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTransaccion" nillable="true" type="tns:ServiceTransaccion" />
  <xs:complexType name="setAlmacenaImagenesServidor_Response">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.mc.com.co/types/" base="q3:ResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="setAlmacenaImagenesServidor_Response" nillable="true" type="tns:setAlmacenaImagenesServidor_Response" />
  <xs:complexType name="setAlmacenaImagenesServidorCloud_Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.mc.com.co/types/" base="q4:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="oImagenes" nillable="true" type="tns:ArrayOfServiceImagen" />
          <xs:element minOccurs="0" name="oTransaccion" nillable="true" type="tns:ServiceTransaccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="setAlmacenaImagenesServidorCloud_Request" nillable="true" type="tns:setAlmacenaImagenesServidorCloud_Request" />
  <xs:complexType name="setAlmacenaImagenesServidorCloud_Response">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.mc.com.co/types/" base="q5:ResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="setAlmacenaImagenesServidorCloud_Response" nillable="true" type="tns:setAlmacenaImagenesServidorCloud_Response" />
</xs:schema>